body {
    background: #22c1c3;
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
    padding: 0;
    margin: 0;
}

.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    max-height: 250px;
}

h2 {
    cursor: pointer;
}

.carouselStyle {
    height: 88vh;
    object-fit: cover;
}

.header {
    background: #22c1c3;
    background: -webkit-linear-gradient(to right, #fdbb2d, #22c1c3);
    background: linear-gradient(to right, #fdbb2d, #22c1c3);
    height: 12vh;
}

.footer {
    background-color: black;
    color: white;
    height: 75px;
}

label.error {
    color: red;
}

input.error {
    border: red 1px solid;
}

.card {
    border: black 2px solid;
}

.modal-content {
    background: gray;
}

.modal-title {
    color: white;
}

.modal-body {
    color: white;
}

form {
    border-radius: 40px;
    color: white;
    font-size: 13px;
    padding: 13px;
    margin: 0 auto;
}

label {
    color: white;
}

a:link {
    color: white
}

a:visited {
    color: white
}

a:hover {
    color: white
}

.gallery {
    padding: 0;
    border: black 2px solid;
    cursor: pointer;
}

h2 {
    color: white;
}